<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Shortener</title>
</head>
<body class="document">
    <form class="container" method="post" action="/">
        <a class="edit" href="/edit">Editor of shortened links</a>
        <input class="lLink" type="text" name="long" placeholder="Link">
        <input class="sLink" type="text" name="short" placeholder="Shortened link">
        <input class="submit" type="submit">
    </form>
</body>
</html>